################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/SerieDLL/Model/Serie.cs
/projet_dawan/.vs/ProjectEvaluation/projet_dawan.metadata.v5.2
/projet_dawan/.vs/ProjectEvaluation/projet_dawan.projects.v5.2
/projet_dawan/.vs/projet_dawan/DesignTimeBuild/.dtbcache.v2
/projet_dawan/.vs/projet_dawan/v17/.futdcache.v2
/projet_dawan/.vs/projet_dawan/v17/.suo
/projet_dawan/obj/Debug/net6.0-windows/projet_dawan.csproj.AssemblyReference.cache
