################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/projet_dawan/obj/Debug/net6.0-windows/
/.vs/
/projet_dawan/obj/
/projet_dawan_WPF/obj/Debug/net6.0-windows/
*.lref
/projet_dawan_WPF/obj/
/SerieDLL/obj/Debug/net6.0/
/SerieDLL/obj/
/projet_dawan/.vs/
*.dll
*.json
